@import "../../Style//Helper/mixin";

.ant-picker-dropdown {
    width: 370px;
    height: 420px;
    box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
    border-radius: 20px;
    .ant-picker-panel-container {
        height: 100%;
        .calendar-day {
            height: 100%;
            .date-header {
                margin-bottom: 20px;
                margin-top: 24px;
                .date-header-top {
                    margin-bottom: 20px;
                    .date-pre-button {
                        display: flex;
                        align-items: center;
                        .date-pre-icon {
                            width: 8px;
                            height: 11px;
                        }
                    }
                    .date-title-name {
                        span {
                            @include styleText(#23221f, 18px, 700, 26px);
                        }
                    }
                    .date-next-button {
                        display: flex;
                        align-items: center;
                        .date-next-icon {
                            width: 8px;
                            height: 11px;
                        }
                    }
                }
                .date-header-bottom {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 32px;
                    .ant-radio-wrapper {
                        font-family: "Montserrat", sans-serif !important;
                        .ant-radio {
                            width: 24px;
                            height: 24px;
                            .ant-radio-input {
                                width: 24px;
                                height: 24px;
                                opacity: 1;
                            }
                            .ant-radio-inner {
                                width: 24px;
                                height: 24px;
                                background-color: #27aef9;
                                &::after {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
            .ant-picker-panel {
                .ant-picker-body {
                    padding-top: 0;
                    padding-left: 32px;
                    padding-right: 18px;
                    padding-bottom: 24px;
                    .ant-picker-content {
                        thead {
                            tr {
                                font-family: "Montserrat", sans-serif !important;
                                th {
                                    @include styleText(#c55e00, 18px, 600, 28px);
                                }
                            }
                        }
                        tbody {
                            tr {
                                font-family: "Montserrat", sans-serif !important;
                                height: 40px !important;
                                td {
                                    margin: 5px 0;
                                    .ant-picker-cell-inner {
                                        margin: 0 !important;
                                    }
                                }
                                .ant-picker-cell-today {
                                    .ant-picker-calendar-date-today {
                                        width: 42px;
                                        height: 40px;
                                        background: #ffba7b;
                                        border-radius: 50%;
                                        color: white;
                                        &::before {
                                            border: none;
                                        }
                                        .ant-picker-calendar-date-value {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            height: 100%;
                                        }
                                    }
                                }
                                .ant-picker-cell-selected {
                                    .ant-picker-calendar-date {
                                        width: 42px;
                                        height: 40px;
                                        background: #ffba7b;
                                        border-radius: 50%;
                                        color: white;
                                        .ant-picker-calendar-date-value {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .ant-picker-footer {
                    display: none;
                }
            }
        }

        .calendar-month {
            height: 100%;
            .date-header {
                margin-bottom: 20px;
                margin-top: 24px;
                .date-header-top {
                    margin-bottom: 20px;
                    .date-pre-button {
                        display: flex;
                        align-items: center;
                        .date-pre-icon {
                            width: 8px;
                            height: 11px;
                        }
                    }
                    .date-title-name {
                        span {
                            @include styleText(#23221f, 18px, 700, 26px);
                        }
                    }
                    .date-next-button {
                        display: flex;
                        align-items: center;
                        .date-next-icon {
                            width: 8px;
                            height: 11px;
                        }
                    }
                }
                .date-header-bottom {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 32px;
                    .ant-radio-wrapper {
                        font-family: "Montserrat", sans-serif !important;
                        .ant-radio {
                            width: 24px;
                            height: 24px;
                            .ant-radio-input {
                                width: 24px;
                                height: 24px;
                                opacity: 1;
                            }
                            .ant-radio-inner {
                                width: 24px;
                                height: 24px;
                                background-color: #27aef9;
                                &::after {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
            .ant-picker-panel {
                .ant-picker-body {
                    padding-top: 0;
                    padding-left: 32px;
                    padding-right: 18px;
                    padding-bottom: 24px;
                    .ant-picker-content {
                        thead {
                            tr {
                                font-family: "Montserrat", sans-serif !important;
                                th {
                                    @include styleText(#c55e00, 18px, 600, 28px);
                                }
                            }
                        }
                        tbody {
                            tr {
                                font-family: "Montserrat", sans-serif !important;
                                height: 40px !important;
                                td {
                                    margin: 5px 0;
                                    .ant-picker-cell-inner {
                                        margin: 0 !important;
                                    }
                                }
                                .ant-picker-cell-today {
                                    .ant-picker-calendar-date-today {
                                        width: 42px;
                                        height: 40px;
                                        background: #ffba7b;
                                        border-radius: 50%;
                                        color: white;
                                        &::before {
                                            border: none;
                                        }
                                        .ant-picker-calendar-date-value {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            height: 100%;
                                        }
                                    }
                                }
                                .ant-picker-cell-selected {
                                    .ant-picker-calendar-date {
                                        width: 42px;
                                        height: 40px;
                                        background: #ffba7b;
                                        border-radius: 50%;
                                        color: white;
                                        .ant-picker-calendar-date-value {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                            .week-current {
                                background: #ffd2a8;
                                border-radius: 16px;
                                .ant-picker-cell-today {
                                    .ant-picker-calendar-date-today {
                                        width: 42px;
                                        height: 40px;
                                        background: #ffba7b;
                                        border-radius: 50%;
                                        color: white;
                                        &::before {
                                            border: none;
                                        }
                                        .ant-picker-calendar-date-value {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            height: 100%;
                                        }
                                    }
                                }
                                td {
                                    .ant-picker-calendar-date {
                                        color: white;
                                    }
                                    &:first-of-type {
                                        border-top-left-radius: 16px;
                                        border-bottom-left-radius: 16px;
                                        .ant-picker-calendar-date {
                                            width: 42px;
                                            height: 40px;
                                            background: #ffba7b;
                                            border-radius: 50%;
                                            color: white;
                                            &::before {
                                                border: none;
                                            }
                                            &:hover {
                                                background-color: #ffba7b;
                                            }
                                            .ant-picker-calendar-date-value {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                height: 100%;
                                                &:hover {
                                                    background-color: #ffba7b;
                                                    border-radius: 50%;
                                                }
                                            }
                                        }
                                    }
                                    &:last-of-type {
                                        border-top-right-radius: 16px;
                                        border-bottom-right-radius: 16px;
                                        .ant-picker-calendar-date {
                                            width: 42px;
                                            height: 40px;
                                            background: #ffba7b;
                                            border-radius: 50%;
                                            color: white;
                                            &::before {
                                                border: none;
                                            }
                                            &:hover {
                                                background-color: #ffba7b;
                                            }
                                            .ant-picker-calendar-date-value {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                height: 100%;
                                                &:hover {
                                                    background-color: #ffba7b;
                                                    border-radius: 50%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .ant-picker-footer {
                    display: none;
                }
            }
        }
    }
}
