@import "../../Style/Helper/mixin";

#list-ticket-package {
    .list-ticket-package-top {
        .list-ticket-package-form {
            display: flex;
            justify-content: space-between;
            .list-ticket-package-button {
                display: flex;
                margin-bottom: 32px;
                .list-ticket-package-button-add {
                    margin-left: 24px;
                    &:hover {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}