.table-row-light {
    background-color: white;
  }
  
  .table-row-gray {
    background-color: #F7F8FB;
  }
  
  .ant-table-wrapper {
    .ant-table {
      .ant-table-content {
        font-family: 'Montserrat', sans-serif !important;
        .ant-table-thead {
          .ant-table-cell {
            background-color: #F1F4F8;
            &::before {
              opacity: 0;
            }
          }
        }
      }
    }
    .ant-pagination {
      justify-content: center;
      margin-top: 52px !important;
      .ant-pagination-item-active {
        border-color: #FF993C;
        color: #FF993C;
      }
    }
  }