@import "../../../Style/Helper/mixin";

#update-ticket-package {
    .update-ticket-package-top {
        .update-ticket-package-title {
            @include styleText(#1E0D03, 24px, 700, 30px);
            margin-bottom: 27px;
            text-align: center;
        }
    }

    form {
        .update-ticket-package-event {
            margin-bottom: 25px;
            .update-ticket-package-event-input {
                width: 245px;
            }
        }
        .update-ticket-package-name {
            margin-bottom: 25px;
        }
        .update-ticket-package-date {
            margin-bottom: 24px;
            .update-ticket-package-date-start {
                .update-ticket-package-date-start-time {
                    margin-left: 9px;
                }
            }
            .update-ticket-package-date-end {
                .update-ticket-package-date-end-time {
                    margin-left: 9px;
                }
            }
        }
        .update-ticket-package-price {
            margin-bottom: 24px;
            .update-ticket-package-price-top {
                margin-bottom: 22px;
                .ant-checkbox-wrapper {
                    span {
                        @include styleText(#1E0D03, 16px, 500, 20px);
                    }
                }
                .update-ticket-package-price-top-input {
                    margin-right: 8px;
                }
            }
            .update-ticket-package-price-bottom {
                .ant-checkbox-wrapper {
                    span {
                        @include styleText(#1E0D03, 16px, 500, 20px);
                    }
                }
                .update-ticket-package-price-bottom-input {
                    margin-right: 8px;
                }
                .update-ticket-package-price-bottom-input-ticket {
                    margin: 0 8px;
                }
            }
        }
        .update-ticket-package-price-status {
            margin-bottom: 11px;
            .ant-select-selection-item {
                @include styleText(#1E0D03, 16px, 500, 20px);
            }      
        }
        .update-ticket-package-note {
            display: flex;
            align-items: center;
            .update-ticket-package-note-star {
                @include styleText(#FD5959, 16px, 600, 26px);
                margin-right: 4px;
            }
            .update-ticket-package-note-info {
                @include styleText(#1E0D03, 12px, 400, 15px);
                font-style: italic;
                opacity: 0.4;
            }
        }
        .update-ticket-package-button {
            text-align: center;
            .update-ticket-package-button-cancel {
                width: 160px;
                margin-right: 24px;
            }
            .update-ticket-package-button-save {
                width: 160px;
            }
        }



        .update-ticket-package-text {
            @include styleText(#1E0D03, 16px, 600, 26px);
            margin-bottom: 5px;
            span {
                @include styleText(#FD5959, 16px, 600, 26px);
            }
        }
    }
}