@import "../../Style/Helper/mixin";

#ticket-control {
    .ticket-control-left {
        padding-right: 12px;
        padding-left: 0;
        .ticket-control-form {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;
            .ticket-control-button {
                .ticket-control-dropdown {
                    width: 700px;
                    left: -100%;
                    padding: 0;
                }
            }
        }
    }
    .ticket-control-right {
        padding-left: 12px;
        padding-right: 0;
        .ticket-control-right-content {
            height: 100% !important;
            .outlet-content {
                padding-top: 22px;
                .ticket-control-filter-title {
                    @include styleText(#1E0D03, 24px, 700, 30px);
                    margin-bottom: 32px;
                }
                form {
                    .ticket-control-filter-form {
                        margin-bottom: 24px;
                        .ticket-control-filter-text {
                            @include styleText(#1E0D03, 16px, 600, 26px);
                            margin-bottom: 0;
                        }
                        .ticket-control-filter-gate-ticket {
                            @include styleText(#1E0D03, 16px, 500, 20px);
                            margin-bottom: 0;
                        }
                        .ant-radio-wrapper {
                            margin-bottom: 15px;
                        }
                    }
                    .ticket-control-filter-button {
                        .button-ouline-orange {
                            width: 160px;
                        }
                    }
                }
            }
        }
    }
}