@import "./Style/Helper/mixin";

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif !important;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
}

.outlet {
  margin-top: 20px;
  margin-bottom: 32px;
  margin-right: 32px;
  background-color: white;
  min-height: 100vh;
  border-radius: 24px;
  .outlet-content {
    .outlet-title {
      @include styleText(#1E0D03, 36px, 700, 54px);
      margin-bottom: 32px;
    }
    padding: 24px;
  }
}

//input search antd
.input-search {
  background-color: #EDEDED;
  border-radius: 12px;
  &:hover {
    border-color: #d9d9d9;
  }
  .ant-input  {
    background-color: #EDEDED;
    @include styleText(#1E0D03, 16px !important, 400, 20px);
  }
}

//custom table antd
.table-row-light {
  background-color: white;
}

.table-row-gray {
  background-color: #F7F8FB;
}

.ant-table-wrapper {
  .ant-table {
    .ant-table-content {
      font-family: 'Montserrat', sans-serif !important;
      .ant-table-thead {
        .ant-table-cell {
          background-color: #F1F4F8;
          &::before {
            opacity: 0;
          }
        }
      }
    }
  }
  .ant-pagination {
    justify-content: center;
    margin-top: 52px !important;
    .ant-pagination-item-active {
      border-color: #FF993C;
      color: #FF993C;
    }
  }
}
